
/* Floating Container */

.titled-pane.floating {
    -fx-background-color: #1a233d;
    -fx-padding: 24px;
    -fx-background-radius: 8px;
    -fx-collapsible: false;
}

.titled-pane.floating .text-field {
    -fx-background-color: #1a233d;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #385e9d;
}

.titled-pane.floating > .title {
    -fx-border-width: 0;
    -fx-background-color: #1a233d;
}

.titled-pane.floating > .content {
    -fx-border-width: 0;
    -fx-background-color: #1a233d;
}

.titled-pane.floating .hbox {
    -fx-spacing: 16px;
}

.titled-pane.floating .border-pane-child {
    -fx-padding: 16px;
}


.floating-container {
    -fx-background-color: #1a233d;
    -fx-padding: 24px;
    -fx-background-radius: 8px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 36, 0, 0, 0);
}

.floating-container * {
    -fx-text-fill: white;
    -fx-base: #1a2c5d;
}

.floating-container * {
    -fx-alignment: center;
}

.floating-container .button {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #161922;
    -fx-font-family: 'Blender Pro Bold';
    -fx-font-size: 16pt;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 12, 0, 0, 0);
}

.floating-container .button:hover {
    -fx-background-color: #c3c3c3;
}

.floating-container .button:pressed {
    -fx-background-color: #b0b0b0;
}