.navbar {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 24, 0, 0, 0);
    -fx-background-color: #222;
    -fx-background-radius: 0 0 12px 12px;
}

.navbar .text {
    -fx-text-fill: #aaa;
}