@import url("var.css");

.sidebar {
    -fx-background-color: j-nav-base;
    -fx-padding: 12px 24px 24px 24px;
    -fx-background-radius: 0 12px 0 0;
    -fx-border-color: j-nav-border;
    -fx-border-width: 0 2.5px 0 0;
}

.separator {
    -fx-padding: 32px 18px;
}

.separator .line {
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #272727;
}

.sidebar-nav {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.sidebar-nav > * {
    -fx-padding: 20px 0px 20px 16px;
    -fx-spacing: 20px;
}

.sidebar-nav > * > * {
    -fx-font-size: 12px;
    -fx-cursor: hand;
}