@import url("navbar.css");
@import url("popover.css");
@import url("sidebar.css");
@import url("controls/simple-list.css");
@import url("util/scroll-pane.css");
@import url("menus/advogado-register.css");
@import url("util/forms.css");
@import url("scenes/secondary-scene.css");

/*
@font-face {
    font-family: "Roboto Slab";
    src:
            url("../fonts/RobotoSlab.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("../fonts/BlenderProMedium.ttf") format("truetype");
}
*/

@font-face {
    font-family: 'Blender Pro';
    src:
        url("../fonts/BlenderPro-Book.ttf") format("truetype");
}
* {
    -fx-font-family: 'Blender Pro Medium';
    -fx-font-size: 15pt;
    -fx-base: #333;
    -fx-text-fill: white;
}

.root-pane {
    -fx-background-color: #444;
}

.content {
    -fx-background-color: transparent;
    -fx-padding: 24px;
}

.content > .header {
    -fx-padding: 16px 16px 16px 4px !important;
}

.content > .header .text {
    -fx-font-weight: bold;
    -fx-font-size: 1.8em;
}

.svg {
    -fx-background-color: transparent;
}

.hyperlink:focused {
    -fx-border-width: 0;
}