/*
@font-face {
    font-family: "Roboto Slab";
    src:
            url("../fonts/RobotoSlab.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("../fonts/BlenderProMedium.ttf") format("truetype");
}

/*
@font-face {
    font-family: 'Blender Pro';
    src:
        url("../fonts/BlenderPro-Book.ttf") format("truetype");
}*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url("popover.css");
@import url("navbar.css");
@import url("sidebar.css");

* {
    -fx-font-family: 'Blender Pro Medium';
    -fx-font-size: 15pt;
    -fx-base: #1a2c5d;
    -fx-text-fill: white;
}

.root-pane {
    -fx-background-color: #444;
}

.content {
    -fx-background-color: transparent;
}

.svg {
    -fx-background-color: transparent;
}