.root {
    j-text: #3a3a3a;

    j-base: #e6e4e1;
    j-secondary-base: #f0edea;
    j-border: #cccccc;
    j-accent: rgb(83, 156, 212);
    j-accent-base: #b0b0b3;

    j-nav-base:  #f9f9f9;
    j-nav-border: #e0e0e0;

    j-content-base:  #f7f7f7;
    j-content-border: #e0e0e0;

    j-button-red: #FF6060;
    j-button-border: #d0d0d0;
    j-button-base: #e6e6e6;
    j-button-blue: rgba(83, 156, 212, 0.6);
    j-button-blue-pressed: rgba(83, 156, 212, 0.2);

    j-popup-base: #e6e6e6;
    j-popup-border: #39393e;

    j-list-accent-base: #e0e0e0;
    j-list-item-base: #e6e6e6;
    j-list-item-border: #c0c0c0;

    j-hyperlink-fill: #cccfff;
}
