.root {
    j-text: white;
    j-text-secondary: rgb(180, 180, 180);

    j-base: #202024;
    j-secondary-base: #141417;
    j-border: #2b2b2f;
    j-accent: rgb(83, 156, 212);
    j-accent-base: #39393e;

    j-nav-base:  #19191d;
    j-nav-border: #2b2b2f;

    j-content-base:  #1a1a1d;
    j-content-secondary-base: #1c1e1f;
    j-content-border: #2b2b2f;

    j-button-red: #FF6060;
    j-button-border: #1d1d22;
    j-button-base: #1d1d22;
    j-button-blue: rgba(83, 156, 212, 0.6);
    j-button-blue-pressed: rgba(83, 156, 212, 0.2);

    j-popup-base: #242429;
    j-popup-border: #39393e;

    j-list-accent-base: #26262b;
    j-list-item-base: #1d1d21;
    j-list-item-border: #303035;

    j-hyperlink-fill: #cccfff;
}