.simple-list {
    -fx-background-radius: 12px;
    -fx-background-color: #1a1a1d;
    -fx-padding: 0 !important;
    -fx-border-width: 2px;
    -fx-border-color: #2b2b2f;
    -fx-border-radius: 12px;
}


.simple-list .search-icon-container {
    -fx-background-color: transparent;
    -fx-padding: 8px;
    -fx-cursor: hand;
}

.simple-list .search-icon-container * {
    -fx-background-color: transparent;
}

.simple-list .search-tf {
    -fx-background-color: transparent;
    -fx-padding: 0 .2em 4px .8em;
}

.simple-list .search-tf {
    -fx-text-fill: white;
    -fx-prompt-text-fill: #AAA;
}

.simple-list .header-label {
    -fx-background-color: #26262b;
    -fx-text-fill: white;
    -fx-background-radius: 12px 0 12px 0;
    -fx-border-width:  0 2px 2px 0;
    -fx-border-radius: 12px 0 12px 0;
    -fx-border-color: #2b2b2f;
    -fx-padding: 4px 16px;
    -fx-alignment: center;
}

.simple-list .header-label .text {
    -fx-font-size: 1.2em;
}

.simple-list .search-area {
    -fx-background-color: #26262b;
    -fx-background-radius: 0 12px 0 12px;
    -fx-border-width: 0 0 2px 2px;
    -fx-border-radius: 0 12px 0 12px;
    -fx-border-color: #2b2b2f;
}

.simple-list .scroll-pane {
    /*-fx-padding: 8px 16px;*/
}

.simple-list .items-container {
    -fx-padding: 0.5em 0.8em;
}

.simple-list .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #666;
}

.list-item {
    -fx-background-color: #1d1d21;
    -fx-background-radius: 12px;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-border-color: #2b2b2f;
    -fx-cursor: hand;
    -fx-padding: 0 0.5em
}

.list-item * {
    -fx-padding: 0.5em;
}

.list-item .dot {
    -fx-fill-height: 1em;
}

